@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,300;0,400;0,600;0,700;0,900;1,600;1,700;1,900&display=swap");

.menuList li a {
  text-decoration: none;
  font-size: 1.6rem;
  color: #d4d9dd;
  padding: 24px;
}

.menuList li {
  justify-content: center;
  margin-left: 20px;
  top: 50rem;
}

.menuLists li a {
  text-decoration: none;
  font-size: 1.6rem;
  color: #f4f5f7;
  padding: 24px;
}

.navbar {
  justify-content: space-between;
  display: flex;
}

.humburger {
  font-size: 30px;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .closeMenu {
    display: none;
  }
}
