@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,300;0,400;0,600;0,700;0,900;1,600;1,700;1,900&display=swap");

/* font-family: 'Source Sans Pro', sans-serif; */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 375px;
}

.header {
  width: 100%;
}

.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  height: 5px;
}

.navbar ul {
  display: flex;
  gap: 4rem;
}

.navbar ul li {
  list-style: none;
}

.logo a {
  text-decoration: none;
  font-size: 20px;
  font-weight: 700;
  margin-right: 10rem;
}

.navbar ul li a {
  text-decoration: none;
}

.logo {
  justify-content: center;
  margin-top: 12px;
}

.humburger {
  margin-top: 12px;
  margin-left: 15px;
}

#humburger {
  font-size: 30px;
}

.intro-header h1 {
  margin-top: 30px;
}

.intro {
  margin-left: 16px;
  margin-right: 12px;
  margin-top: 60px;
  padding-top: 50px;
}

.intro h1 {
  color: rgb(241, 132, 132);
  gap: 5rem;
  margin-bottom: 10px;
  font-size: 20px;
}

.intro h2 {
  margin-top: 10px;
  color: rgb(240, 10, 10);
}

.intro-text {
  margin-left: 16px;
  margin-right: 12px;
}

.intro-text1 {
  margin-top: 100px;
  margin-left: 8.5px;
  margin-right: 6px;
  border: 4px solid white;
  width: 90%;
  color: #515151;
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
}

.intro-text2 {
  margin-top: 30px;
  margin-left: 18px;
  margin-right: 68px;
  width: 100%;
  font-family: 'lato', sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 20px;
  display: flex;
  align-items: center;
  color: #595959;
}

.intro-text3 {
  margin-top: 10px;
  margin-left: 18px;
  margin-right: 18px;
  font-family: 'lato', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 0px;
  display: flex;
  align-items: center;
  color: #868686;
}

.main-header h2 {
  justify-content: center;
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  display: flex;
  align-items: center;
  letter-spacing: -0.04em;
  color: #fff;
}

.main-border {
  width: 15%;
  margin-left: 150px;
  padding-top: 10px;
  border-bottom: 2px solid red;
}

.main-card {
  display: flex;
  gap: 2rem;
  margin-top: 30px;
  background-color: #747577;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 12px;
}

.card-header h3 {
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 25px;
  display: flex;
  align-items: center;
  letter-spacing: -0.01em;
  color: #ff5438;
}

.card-image img {
  width: 57.08px;
  height: 51.73px;
  margin-bottom: 10px;
}

.card-text {
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 12.7034px;
  line-height: 22px;
  display: flex;
  align-items: center;
  letter-spacing: 0.06em;
  color: #fff;
}

.contributors {
  margin-top: 20px;
}

.contributors h2 {
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  display: flex;
  align-items: center;
  letter-spacing: -0.05em;
  color: #000;
  padding-left: 120px;
}

.contributors-main {
  display: flex;
  gap: 2rem;
  margin-top: 20px;
}

.contributors-content h3 {
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  display: flex;
  align-items: center;
  letter-spacing: -0.02em;
  color: #000;
  margin-bottom: 10px;
}

.contributors-content span {
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  display: flex;
  align-items: center;
  letter-spacing: -0.02em;
  color: #f78c89;
  margin-bottom: 10px;
}

.contributors-content p {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  display: flex;
  align-items: center;
  letter-spacing: -0.06em;
  color: #000;
  margin-top: 10px;
}

.contributor-border {
  border-bottom: 2px solid grey;
  width: 10%;
}
